.menuBar {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 30px;
  height: 50px;
  font-weight: bold;
}

.menu-item{
  font-weight: bold;
}

.p-menubar{
  background-color: yellow;
}

.p-menubar:hover{
  background-color: white;
  transform: scale(1.1);
}

.pi-pencil, .p-menuitem-text{
  color: black;
  font-weight: bold;
}

