.logoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .appLogo{
    height: 200px;
    width: 650px;
    filter: drop-shadow(0 0 0.75rem rgb(178, 229, 11));
  }